.breadcrumbs {
    padding: 15px 0
}

.breadcrumbs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    color: rgba(34, 34, 34, .4)
}

.breadcrumbs ul li {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 17px
}

@media only screen and (max-width: 767px) {
    .breadcrumbs ul {
        white-space: nowrap;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden
    }

    .breadcrumbs ul li {
        display: none
    }

    .breadcrumbs ul li:first-child, .breadcrumbs ul li:last-child {
        display: inline-block
    }
}



.breadcrumbs ul a {
    color: rgba(34, 34, 34, .7);
    border-bottom: none
}

.breadcrumbs ul a:hover {
    color: #222
}