.popup.popup-registration {
    width: 420px;
    padding: 0
}

.popup.popup-registration .alert {
    padding: 10px;
    margin: 0 0 15px;
    font-size: 13px
}

.popup.popup-registration .tabs-head {
    overflow: hidden;
    background: #EDEDED
}

.popup.popup-registration .tabs-head ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.popup.popup-registration .tabs-head ul li {
    width: 50%;
    float: left;
    text-align: center
}

.popup.popup-registration .tabs-head ul li a {
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 20px;
    border: none;
    color: inherit;
    font-weight: 600
}

.popup.popup-registration .tabs-head ul li.active a {
    background: #FFF
}

.popup.popup-registration .seporate {
    margin: 15px 0;
    overflow: hidden;
    position: relative
}

.popup.popup-registration .seporate:before {
    content: '';
    width: 100%;
    height: 1px;
    top: 50%;
    margin-top: -.5px;
    position: absolute;
    left: 0
}

.popup.popup-registration .seporate span {
    display: inline-block;
    background-color: #fff;
    padding: 0 15px;
    position: relative
}

.popup.popup-registration .social-block .icon.icon_vk {
    fill: #4A76A8
}

.popup.popup-registration .social-block .icon.icon_fb {
    fill: #4267B2
}

.popup.popup-registration .social-block .icon.icon_tw {
    fill: #1DA1F2
}

.popup.popup-registration .social-block .icon.icon_odnoklassniki {
    fill: #F4731C
}
.popup.popup-registration .block_more_reg_type{
    width: 420px;
    padding: 0;
}

.popup.popup-registration .tabs-head-type{
    overflow: hidden;
    background: #EDEDED;
}
.popup.popup-registration .tabs-head-type ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.popup.popup-registration .tabs-head-type ul li{
    width: 100%;
    /*float: left;*/
    text-align: center;
}
.popup.popup-registration .tabs-head-type ul li.active a{
    background: #FFF;
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 20px;
    border: none;
    color: inherit;
    font-weight: 600;
}
.popup.popup-registration .tabs-head-type ul li a {
    background: #ededed;
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 20px;
    border: none;
    color: inherit;
    font-weight: 600;
}
.tabsTypes{
    margin-top: 10px;
}

.tabsTypes .tabType{
    display: none;
}
.tabsTypes .active{
    display: block;
}
.block_more_reg_type-init .type_init_reg{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: relative;
    display: block;
    padding-bottom: 10px;
}
.popup.popup-registration .inp_code{
    display: none;
}
.popup.popup-registration .repeat_send_code , .popup.popup-registration .repeat_send_code_not_correct{
    padding-bottom: 10px;
    display: none;
}
.popup.popup-registration .repeat_send_code{
    color:green;
}
.popup.popup-registration .repeat_send_code_not_correct{
    color:red;
}
.forgot_auth{
    color:red;
    display: none;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
.pass_encorect{
    display: none;
    color:red;
}
.phone_encorect{
    display: none;
    color:red;
}




.popup.popup-registration .tabs-head-type-auth{
    overflow: hidden;
    background: #EDEDED;
}
.popup.popup-registration .tabs-head-type-auth ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.popup.popup-registration .tabs-head-type-auth ul li{
    width: 50%;
    float: left;
    text-align: center;
}
.popup.popup-registration .tabs-head-type-auth ul li.active a{
    background: #FFF;
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 20px;
    border: none;
    color: inherit;
    font-weight: 600;
}
.popup.popup-registration .tabs-head-type-auth ul li a {
    background: #ededed;
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 20px;
    border: none;
    color: inherit;
    font-weight: 600;
}
